* { 
	margin: 0 auto; 
  padding: 0; 
  
}


.menu{
	background: #eee;
	height: 70px;
	
	
  }
  .menu .menu-list, .menu .sub-menu{
    list-style: none;
  }
  .menu a{
    color: #000;
    text-decoration: none;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 19px;
	letter-spacing:1.9px;
	font-family: Prime;
	
  }
  .menu > .menu-list > li{
    float: left;
	position: relative;

  }
  .menu > .menu-list > li > a {
    padding: 20px;
    margin: 0 5px;
    background: #eee;
  }
  .menu  .menu-list  li:hover a {
    background: #ccc;
  }
  .menu > .menu-list > li:hover > .sub-menu {
    display: block;
  }
  .menu > .menu-list > li > .sub-menu {
    position: absolute;
	top: 70px;
	left: 5px;
    min-width: 192px; /*largura do submenu */
    z-index: 1000;
	display: none;
  }

.menu .menu-list li .sub-menu{
	position: absolute;
	top: 70px;
	left: 5px;
    min-width: 192px; /*largura do submenu */
    z-index: 1000;
	display: none;
}


  .menu >.menu-list > li > .sub-menu > li > a {
	  padding: 10px 20px;
	  
  }
  .menu: {
    display: block;
    line-height: 0;
    height: 0;
  }

.vertical-menu {
	float: left;
	width: 50px;
	position: fixed;
	top: 20%;  /* Set a width if you like */
	opacity : 0.5;
  }
  
  .vertical-menu a {
	background-color: #eee; /* Grey background color */
	color: black; /* Black text color */
	display: block; /* Make the links appear below each other */
	padding: 12px; /* Add some padding */
	text-decoration: none; /* Remove underline from links */

  }
  
  .vertical-menu a:hover {
	background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
 



  .vertical-menu2 {
	float: left;
	width: 50px;
	position: fixed;
	top: 58%;  /* Set a width if you like */
	opacity : 0.5;
  }
  
  .vertical-menu2 a {
	background-color: #eee; /* cor do cinza do fundo*/
	color: black; /* Black text color */
	display: block; /* Make the links appear below each other */
	padding: 12px; /* Add some padding */
	text-decoration: none; /* remove underlines dos textos com links */
  }
  
  .vertical-menu2 a:hover {
	background-color: #ccc; /* cor de fundo do hover */
  }

#back {
	background-image: url(../images/artigo1.png);
	height: 600px;
}

#conteudo i {
padding-left: 500px;
padding-top: 0px;
}