* { 
	margin: 0 auto; 
	padding: 0; 
	
	
}	

/*AJUSTES DO MENU INICIA AQUI*/

.menu{
	background: #eee;
	height: 70px;
	
  }

  .menu .menu-list, .menu .sub-menu{
	list-style: none;
  }
  .menu a{
    color: #000;
    text-decoration: none;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
	letter-spacing:1.9px;
	font-family: 'Rajdhani', sans-serif;
	
  }
  .menu > .menu-list > li{
    float: left;
	position: relative;
	
  }
  .menu > .menu-list > li > a {
    padding: 20px;
    margin: 0 5px;
	background: #eee;
	
  }
  .menu  .menu-list  li:hover a {
	background: #ccc;
	
  }
  .menu > .menu-list > li:hover > .sub-menu {
	display: block;
	
  }

  .menu > .menu-list > li > .sub-menu {
    position: absolute;
	top: 70px;
	left: 5px;
    min-width: 200px; /*largura do submenu */
    z-index: 1000;
	display: none;
  }


  .menu{
	background: #eee;
	height: 73px;
	
	
  }

  .menu .menu-list, .menu .subzero{
	list-style: none;
  }
  .menu a{
    color: #000;
    text-decoration: none;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 24px; /*tamanho da fonte do menu inicial*/
	letter-spacing:1.9px;
	font-family: 'Rajdhani', sans-serif;
	
  }
  .menu > .menu-list > li{
    float: left;
	position: relative;
	
  }
  .menu > .menu-list > li > a {
    padding: 20px;
    margin: 0 5px;
	background: #eee;
	
  }
  .menu  .menu-list  li:hover a {
	background: #ccc;
	
  }
  .menu > .menu-list > li:hover > .subzero {
	display: block;
	
  }

  .menu > .menu-list > li > .subzero {
    position: absolute;
	top: 60px;
	left: 5px;
    min-width: 210px; /*largura do submenu */
    z-index: 1000;
	display: none;
	
  } 

#language  {
	  width: 210px;
  }

font {
	font-size: 15px;
}

  
.menu >.menu-list > li > .sub-menu > li > a {
	  padding: 10px 20px;
	  font-size: 22px;
  }
.menu: {
    display: block;
    line-height: 0;
    height: 0;
}

.site-content{
    padding: 20px;
}

h1{
    font-size: 22px;
    color: #000;
}
  
/*AJUSTES DO MENU TERMINAM AQUI*/


#time {
	background-image: url("../images/gestãodotempo.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

#time2 {
	background-image: url("../images/timemanagement.png");
	background-size: 100%;
	background-repeat: no-repeat;
}


#time3 {
	background-image: url("../images/GESTIONDELTIEMPO.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

font {
	font-family: 'Rajdhani', sans-serif;
	font-size: 40px;
	
}

section {
	width: 100%;
	height: 600px;
}

.vertical-menu {
	float: left;
	width: 50px;
	position: fixed;
	top: 20%;  
	
	padding: 0px;

  }
  
  .vertical-menu a {
	background-color: #eee; /* Grey background color */
	color: black; /* Black text color */
	display: block; /* Make the links appear below each other */
	padding: 8px; /* Add some padding */
	text-decoration: none; /* Remove underline from links */
		
  }
  .vertical-menu a :hover {
	-webkit-transform: scale(1.0);
    -ms-transform: scale(1.3);
    transform: scale(1.2);
  }
  
  
  .vertical-menu2 {
	float: left;
	width: 50px;
	position: fixed;
	top: 56%;  /* Set a width if you like */
	
	
  }
  
  .vertical-menu2 a {
	background-color: #eee; /* cor do cinza do fundo*/
	display: block; /* Make the links appear below each other */
	padding: 8px; /* Add some padding */
	text-decoration: none; /* remove underlines dos textos com links */
	
  }
  

  .vertical-menu2 a :hover {
	-webkit-transform: scale(1.0);
    -ms-transform: scale(1.3);
    transform: scale(1.2);
  }

#artigo {
}

#pesquisa {
	padding-top: 19px;
	padding-left: 630px;
	
}

#fundosite{

	background-repeat:repeat-y;
	background-attachment: fixed;
	;
	

}

.leftcolumn {   
	float: left;
	width: 68%;
}

.rightcolumn {
	float: right;
	width: 28%;
	background-color:#aaa5ae;
	padding-right: 30px;s
	
  }


.card {
	background-color: #ccc; /*background onde fica as publicações*/
	padding: 19px;
	margin-top: 20px;
	margin: 7px;
	margin-left: 58px;
	font-family: 'Rajdhani', sans-serif;
	text-decoration: none;
	opacity: 0.9;
  
}

/* Sobre nós */

#pl {
	position: relative;
	width: 100%;
	margin: 10px;
	right: 13px;
	/*background-color: #aaa5ae;*/
  }
#jv {
	position: relative;
	width: 100%;
	padding: 20px;
	right: 20px;
	} 

.image {
	display: block;
	width: 85%;
	height: auto;
  }
  
  
 

  

.fakeimg #artigo1 {
	padding-top: 0px;
	margin-left:0px; 
	margin-top: 0px;
}


#artigo1:hover {
	width: 100%;
	height: 100%;
}

a, p{
	text-decoration: none;
	color: #000;
	font-size: 19px;
}
h2{
	font-size: 25px;
}

#subirTopo {
border-radius: 30px;
text-decoration: none;
background: white;
bottom: 18px;
right: 30px;
float: right;
color: #ccc;
position: fixed;
cursor: pointer;
padding: 12px;
opacity: 0.7;
}

#subirTopo:hover {
opacity:5;
















