


* { 
	margin: 0 auto; 
  padding: 0; 
  
	
}

.menu{
	background: #eee;
	height: 70px;
	
	
  }
  .menu .menu-list, .menu .sub-menu{
    list-style: none;
  }
  .menu a{
    color: #000;
    text-decoration: none;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 19px;
	letter-spacing:1.9px;
	font-family: Prime;
	
  }
  .menu > .menu-list > li{
    float: left;
	position: relative;

  }
  .menu > .menu-list > li > a {
    padding: 20px;
    margin: 0 5px;
    background: #eee;
  }
  .menu  .menu-list  li:hover a {
    background: #ccc;
  }
  .menu > .menu-list > li:hover > .sub-menu {
    display: block;
  }
  .menu > .menu-list > li > .sub-menu {
    position: absolute;
	top: 70px;
	left: 5px;
    min-width: 192px; /*largura do submenu */
    z-index: 1000;
	display: none;
  }

.menu .menu-list li .sub-menu{
	position: absolute;
	top: 70px;
	left: 5px;
    min-width: 192px; /*largura do submenu */
    z-index: 1000;
	display: none;
}


  .menu >.menu-list > li > .sub-menu > li > a {
	  padding: 10px 20px;
	  
  }
  .menu: {
    display: block;
    line-height: 0;
    height: 0;
  }

.vertical-menu {
	float: left;
	width: 50px;
	position: fixed;
	top: 20%;  
	
	padding: 0px;

  }
  
  .vertical-menu a {
	background-color: #eee; /* Grey background color */
	color: black; /* Black text color */
	display: block; /* Make the links appear below each other */
	padding: 8px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  opacity: 0.5;
		
  }
  .vertical-menu a :hover {
	-webkit-transform: scale(1.0);
    -ms-transform: scale(1.3);
    transform: scale(1.2);
  }
  
  
  .vertical-menu2 {
	float: left;
	width: 50px;
	position: fixed;
	top: 56%;  /* Set a width if you like */
	
	
  }
  
  .vertical-menu2 a {
	background-color: #eee; /* cor do cinza do fundo*/
	display: block; /* Make the links appear below each other */
	padding: 8px; /* Add some padding */
  text-decoration: none; /* remove underlines dos textos com links */
  opacity: 0.5;
	
  }
  

  .vertical-menu2 a :hover {
	-webkit-transform: scale(1.0);
    -ms-transform: scale(1.3);
    transform: scale(1.2);
  }


#back {
	background-image: url(../images/kanban.png);
	height: 800px;
	background-repeat: no-repeat;
	background-size: 100%;
}

#conteudo i {
padding-left: 500px;
padding-top: 0px;

}


h1{
  font-family: Agency FB;
}
p {
  font-family: Bahnschrift;
}
 #conteudopt {
  background-image: radial-gradient( circle farthest-corner at 10% 20%, #6d7958 0%, #68e5ae 90% );
  padding-left: 55px;
 }
 #conteudoeng {
  background-image: linear-gradient( 89.7deg, rgba(64,177,229,1) 6.5%, rgba(28,117,187,1) 44.1% );
 }

#conteudoesp {
  background-image: linear-gradient( 177.2deg, rgba(252,116,3,1) 22.7%, rgba(246,200,30,1) 110.5% );
}

.titulo {
	text-align: center;
}